<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:wght@500&display=swap" rel="stylesheet">
     <title>Fetch Location</title>
</head>
<body>
    <h1>Share Location</h1>
    <form action="/bookconfirm" method="POST" id="locationForm">
        <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date">
        </div>
        <div>
            <label for="time">Time:</label>
            <select id="time" name="time">
                <option value="morning">Morning</option>
                <option value="noon">Noon</option>
                <option value="evening">Evening</option>
            </select>
        </div>
        <div>
            <label for="problem">Problem:</label>
            <input type="text" id="problem" name="problem">
        </div>
        <div>
            <label for="problemStatement">Problem Statement:</label>
            <textarea id="problemStatement" name="problemStatement"></textarea>
        </div>
        <div>
            <label for="locationLink">Location Link:</label>
            <input type="text" id="locationLink" name="locationLink">
        </div>
        <div>
            <button type="button" onclick="getLocation()">Share Location</button>
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    <script src="/scripts/booking.js"></script>
</body>
</html>
