<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/booking.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:wght@500&display=swap" rel="stylesheet">
     <title>Fetch Location</title>
</head>
<body>
    <header>
        <div id="title">SERVICESCAPE</div>
        <nav>
            <ul>
                <li>HOME</li>
                <li>ABOUT</li>
                <li><a href="/userdashboard">DASHBOARD</a></li>
                <li>LOGIN</li>
            </ul>
        </nav> 
    </header>
    <section id="main">
        <section class="container">
            <header>BOOKING CONFIRMATION</header>
            <form action="/bookconfirm" class='form' method="POST" id="locationForm">
                <div class="input-box">
                    <label>Date</label>
                    <input  placeholder="Enter date" type="date">
                  </div>
                  <div class="input-box address">
                    <label>Time</label>
                    <div class="column">
                      <div class="select-box">
                        <select name="time">
                          <option value="morning">Morning</option>
                          <option value="noon">Afternoon</option>
                          <option value="evening">Evening</option>
                        </select>
                      </div>
                    </div>
                  </div>
                <div class="input-box">
                    <label>Problem</label>
                    <input  placeholder="What's the problem" name="problem" type="text">
                </div>
                <div class="column">
                    <div class="input-box">
                      <label>Problem description</label>
                      <textarea  placeholder="Describe the problem" name="problemStatement" type="text"></textarea>
                    </div>
                    
                </div>
                <div class="input-box">
                    <label>Location</label>
                    <input  placeholder="Enter the location link or click fetch location" id="locationLink" name="locationLink" type="text">
                    <button type="button" onclick="getLocation()">
                        <span class="transition"></span>
                        <span class="gradient"></span>
                        <span class="label">Fetch location</span>
                      </button>
                      
                    <input type="hidden" id="latitude" name="latitude">
                    <input type="hidden" id="longitude" name="longitude">
                </div>
                <button type="submit" value="Submit">
                    <span class="transition"></span>
                    <span class="gradient"></span>
                    <span class="label">Submit</span>
                  </button>
                  
            </form>
          </section>
    </section>
    
    <script src="/scripts/booking.js"></script>
</body>
</html>
