*{
    box-sizing: border-box;

}
body{
    margin:0;
    background:url(../images/a1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav {
    width: 30%;
}

#title {
  padding-left: 3%;
  font-family: Mukta;
  font-size: 60px;
  font-weight: bolder;
  color: #ffffff;
}

ul {
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
    font-family: Poppins;
    color:rgb(255, 255, 255);
}
a{
  text-align: center;
  color:rgb(255, 255, 255);
  font-family: poppins;
  text-decoration: none;
}
li:hover{
    color: #ffffff;
}
header {
    display: flex;
    justify-content: space-between;
}

h1{
    width:100%;
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    margin-top: 5%;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
/* cards */
.card {
    height: 300px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
  }
  
 
/*cards end */
.testgridimg{

    border-radius: 5px;
    object-fit: cover;
}  
#container{
    padding-top: 10%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5%;
}
.material-symbols-outlined{
    font-size: 200px !important;
    color:rgb(0, 0, 0) !important;
}
span{
    border-radius: 20px;
    padding: 10px;
}