*{
    box-sizing: border-box;

}
body{
    margin:0;
    background:url(../images/a1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav {
    width: 30%;
}

#title {
  padding-left: 3%;
  font-family: lato;
  font-size: 60px;
  font-weight: bolder;
  color: #ffffff;
}

ul {
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
    font-family: Poppins;
    color:rgb(255, 255, 255);
}
a{
  text-align: center;
  color:black;
  font-family: poppins;
  text-decoration: none;
}
li:hover{
    color: #ffffff;
}
header {
    display: flex;
    justify-content: space-between;
}

h1{
    width:100%;
    text-align: center;
    font-family: lato;
    font-weight: 800;
    margin-top: 3.5%;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
#login{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.btn {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 500;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
  
.login-box {
    margin-top: 3%;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    font-size: 25px;
    transform: translate(-50%, -50%);
    background: rgba(39, 39, 39, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
                0 0 25px #03f40f,
                0 0 50px #03f40f,
                0 0 100px #03f40f;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
  }