*{
    box-sizing: border-box;

}
body{
    margin:0;
    background:url(../images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

nav {
    width: 50%;
}

#title {
    padding-left: 3%;
    font-family: Mukta;
    font-size: 40px;
    font-weight: bold;
    color: #0355cc;
}

ul {
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
    font-family: Poppins;
    font-size: 20px;
}
li:hover{
    color: #0355cc;
}
header {
    display: flex;
    justify-content: space-between;
}
/*for userdashboard button*/
#bottone1 {
    color:white;
    padding-left: 33px;
    margin:auto 3%;
    padding-right: 33px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 9px;
    background: #0B3C49;
    font-family: poppins;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
   }
   
   #bottone1:hover {
    box-shadow: 7px 5px 56px -14px #0B3C49;
   }
   
   #bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #0B3C49;
   }
/*for userdashboard button ends*/
h1{
    text-align: center;
    font-family: poppins;
    color:#0355cc;
    margin: 1% 0;

}

#gridsection{
    display: flex;
    justify-content: center;
    margin:2% 5%;
    border-radius: 20px; 
}  
.grid-container{
   
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.grid-item {
    height:330px;
    width: 380px;
    text-align: center;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
    background: rgba( 0, 0, 0, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 15px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.grid-item:hover {
    transform: scale(1.05);
}
img{
    width: 100%;
    height: 80%;
    padding:5px 5px;
    border-radius: 15px;
}
a{
    text-align: center;
    color:whitesmoke;
    font-size: 20px;
    font-family: poppins;
    text-decoration: none;
}
li a{
    color: black;
    font-size: 20px;
    font-family: poppins;
    text-decoration: none;
}
li a:hover{
    color: #0355cc;
}
#prof{
    color:white;
    font-weight: 200;
    font-size: 20px;
}